VITE_SUPABASE_URL=https://qvtwupscyahpipyqidix.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF2dHd1cHNjeWFocGlweXFpZGl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5MzgzMTQsImV4cCI6MjEwMDUxNDMxNH0.lTXmDwBNDTnwDQWU6LezffrqsuaJR7237ta4kFDDDzI
